---
layout: default
tabs:
  - href: winter-overview
    title: Overview
  - href: winter-venturer
    title: Venturer
  - href: winter-rover
    title: Rover
  - href: winter-interstater
    title: Interstater
  - href: winter-other
    title: Other
---

<header id='top' class='main-header'>
  <div class='row not-mobile' style='max-width: 60em; margin: 0 auto;'>
    <h2>
      The Bogong Rover Chalet
      <a style='margin-left: 0.5em' href='https://www.facebook.com/BogongRoverChalet'><small class='fa fa-facebook-square'></small></a>
    </h2>
    <div>
    </div>
    <div class='header__got-questions'>
      Got a question?
    </div>
    <div class='header__search'>
      <div class='header__search__wrapper'>
        <form action='{{ site.search }}' method='get' style='display: inline-block; position: relative;'>
          <input id='main-search' name='q' type='search' placeholder='Search term'>
          <button class='fa fa-search no-style' style='position: absolute; top: 0; bottom: 0;'></button>
          <label for='main-search' class='like-link' style='display: inline-block;'>Search our infomation hub.</label>
        </form>
      </div>
      <a href='{{ site.knowledge }}'>Or have a browse.</a>
    </div>
  </div>
  <div class='only-mobile'>
    <h2>
      <button data-js='menu' class='material-icons no-style' style='color: white; font-size: 120%; vertical-align: bottom; padding: 0'>menu</button>
      <script>
        document.querySelector('[data-js=menu]').addEventListener('click', function() {
          document.body.classList.toggle('mobile-nav-visible')
          Array.from(document.querySelectorAll('.side-nav a')).forEach(function(el) {
            el.addEventListener('click', function(e) {
              document.body.classList.remove('mobile-nav-visible')
            })
          })
        })
      </script>
      Bogong Rover Chalet
      <a style='margin-left: 0.5em' href='https://www.facebook.com/BogongRoverChalet'><small class='fa fa-facebook-square'></small></a>
    </h2>
  </div>
</header>
<nav class='side-nav'>
  <ul>
    <a data-scroll href='#top' class='dark' style='background-color: green;'>
      <li>
        Top
      </li>
    </a>
    <a data-scroll href='#winter' class='dark' style='background-color: blue;'>
      <li>
        Winter
      </li>
    </a>
    <a data-scroll href='#winter-venturer' class='dark' style='background-color: maroon;'>
      <li>
        Snow Venture
      </li>
    </a>
    <a data-scroll href='#winter-rover' class='dark' style='background-color: red;'>
      <li>
        Ski Moot
      </li>
    </a>
    <a data-scroll href='#summer' style='background-color: yellow;'>
      <li>
        Summer
      </li>
    </a>
    <a data-scroll href='#more-info' class='dark not-mobile' style='background-color: #999;'>
      <li>
        More info
      </li>
    </a>
    <a href='{{ site.knowledge }}' class='dark only-mobile' style='background-color: #999;'>
      <li>
        Information hub
      </li>
    </a>
    <a href='#' onclick='window.event.preventDefault()' class='dark only-mobile' style='background-color: #333;'>
      <li>
        Close menu
      </li>
    </a>
  </ul>
</nav>
<main class='pos-rel'> <!-- xxxstyle='margin-bottom: 20%'> -->
  <div class='hero-image hero-image__main not-mobile'></div>
  <div class='hero-image hero-image__main only-mobile'></div>
  <h3 style='text-align: center; margin: 0.5em 0.25em' class='only-mobile'>
    A magical place in Victoria's Highcountry
  </h3>
  <article class='article__main'>
    <h1 style='text-align: center' class='not-mobile'>
      The Bogong Rover Chalet<br>
      <small>
        A magical place in Victoria's Highcountry
      </small>
    </h1>
    <div style='text-align: center'>
      <a class='button button-primary' href='{{ site.booknow }}'>Book now!</a>
    </div>
    <div class='row main-content__row'>
      <div class='cell'>
        {% include_markdown main-overview.md %}
      </div>
      <div class='cell'>
        {% include_markdown news.md %}
      </div>
      <div class='cell'>
        {% include_markdown testimonials.md %}
      </div>
    </div>
  </article>
</main>
<section id='winter' class='hero-image pos-rel' style='background: rgba(0, 200, 200, 1);'>
  <h2 style='background: rgba(0, 100, 100, 1); border-color: rgba(0, 200, 200, 1); color: white;'>Winter</h2>
  <div class='hero-image hero-image__winter'></div>
  <article class='article__winter'>
    <div class='row row__not-narrow row--padding'>
      <div class='not-mobile'>
        {% include_markdown winter-dates.md %}
      </div>
      <div>
        {% for tab in page.tabs %}
          <span id='{{ tab.href }}'></span>
        {% endfor %}
        <div class='only-mobile'>
          <h4 data-js='winter-tab-target' style='text-align: center;'>
          <span>
            <button style='vertical-align: bottom' class='under-desktop material-icons no-style expand-more'>expand_more</button>
            <span data-js="winter-tab-target-text">Overview</span>
          </span>
          </h4>
          <script>
            var clickTarget = document.querySelector('[data-js="winter-tab-target"]')
            clickTarget.onclick = toggleExpand
            function toggleExpand(e) {
              clickTarget.parentNode.classList.toggle('expand')
              document.querySelector('.mobile-tabs__expand').classList.toggle('mobile-tabs__expand--expanded')
            }
            document.querySelector('[data-js="winter-tab-target"]').parentNode.parentNode.onclick = function(e) {
              if( !(e.target.tagName === 'A' && e.target.href) ) return
              toggleExpand()
            }
            window.addEventListener('hashchange', updateHash)
            function updateHash() {
              var title = document.querySelector('[data-js="winter-tab-target-text"]').innerText
              var newTitleEl = document.querySelector('.nav-item [href="' + window.location.hash + '"]')
              if(!newTitleEl) return
              var newTitle = newTitleEl.innerText
              document.querySelector('[data-js="winter-tab-target-text"]').innerText = newTitle
            }
            updateHash()
          </script>
        </div>
        <ul class='nav only-mobile mobile-tabs__expand'>
          {% for tab in page.tabs %}
          <li class='nav-item'>
            <a href='#{{ tab.href }}'>{{ tab.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class='tab tab-block not-mobile'>
          {% for tab in page.tabs %}
          <li class='tab-item'>
            <a href='#{{ tab.href }}'>{{ tab.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class='tab-contents'>
          {% for tab in page.tabs %}
          <div data-id='{{ tab.href }}'>
            {% include_markdown {{ tab.href }}.md %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class='only-mobile dates-container'>
        {% include_markdown winter-dates.md %}
      </div>
    </div>
  </article>
</section>
<section id='summer' class='hero-image' style='background: rgba(255, 255, 0, 1); font-size: 120%;'>
  <h2 style='background: rgba(255, 255, 120, 1); border-color: rgba(255, 255, 0, 1);'>Summer</h2>
  <article>
    <div class='row row--padding'>
      <div>
        {% include_markdown summer-left.md %}
      </div>
      <div>
        {% include_markdown summer-right.md %}
      </div>
    </div>
    <hr style='max-width: 30em; margin-top: 2em;'>
    <div class='row row--padding row--center'>
      <div>
        {% include_markdown summer-dates.md %}
      </div>
    </div>
  </article>
</section>
<section id='more-info' class='hero-image' style='background: rgba(200, 200, 200, 1); padding-bottom: 1em'>
  <h2 style='background: rgba(220, 220, 220, 1); border-color: rgba(200, 200, 200, 1);'>More info</h2>
  <article>
    <div>
      <h3 style='text-align: center'>Need to know something else?</h3>
      <div style='text-align: center;'>
        <form action='{{ site.search }}' method='get' style='display: inline-block; position: relative; max-width: 100%;'>
          <input required name='q' type='search' placeholder='Search our information hub.' style='font-size: 1.6em; width: 14em; padding-right: 1.25em; max-width: 100%;'>
          <button class='fa fa-search no-style' style='position: absolute; top: 0; bottom: 0; right: 0.5em;'></button>
        </form>
      </div>
      <div style='text-align: center; margin: 0.75em 0;'><a href='{{ site.knowledge }}'>Browse our information hub articles.</a></div>
      <div style='text-align: center'>
        <h4>Or you can contact us:</h4>
        <div class='footer-links'>
          <div>Phone: <a href='tel:+61407242538'>0407 CHALET</a></div>
          <div>Email: <a href='mailto:bookings@bogongroverchalet.org.au'>bookings@bogongroverchalet.org.au</a></div>
          <div><a href='https://www.facebook.com/BogongRoverChalet'>Facebook</a></div>
        </div>
      </div>
    </div>
  </article>
</section>
