<header id='top' class='main-header' style='position: fixed; top: 0; left: 0; right: 0; z-index: 1;'>
  <div class='row not-mobile' style='max-width: 60em; margin: 0 auto;'>
    <h2 style='margin-bottom: 0'>
      The Bogong Rover Chalet
      <a style='margin-left: 0.5em' href='https://www.facebook.com/BogongRoverChalet'><small class='fa fa-facebook-square'></small></a>
      <a style='margin-left: 0.5em' href='https://www.instagram.com/bogongroverchalet/'><small class='fa fa-instagram'></small></a>
    </h2>
    <div>
    </div>
  </div>
  <div class='info-nav-wrapper'>
    <div class='info-nav'>
      <nav>
        <ul style='display: flex'>
          <li><a href='/'>Home</a></li>
          <li>
            About
            <ul>
              <li><a href='{% article_url bogong-bulletin %}'>Bogong Bulletin</a></li>
              <li><a href='{% article_url contact %}'>Contact us</a></li>
              <li><a href='{% article_url history %}'>History</a></li>
              <li><a href='{% article_url how-it-runs %}'>How the Chalet is run</a></li>
              <li><a href='{% article_url merchandise %}'>Merchandise</a></li>
            </ul>
          </li>
          <li>
            Visiting
            <ul>
              <li><a href='{% article_url booking-conditions %}'>Booking conditions</a></li>
              <li><a href='{% article_url visiting-in-summer %}'>Visiting in Summer</a></li>
              <li><a href='{% article_url visiting-in-winter %}'>Visiting in Winter</a></li>
            </ul>
          </li>
          <li>
            Winter attendee info
            <ul>
              <li><a href='{% article_url winter-preparation %}'>Winter preparation</a></li>
              <li><a href='{% article_url winter-gear %}'>Winter gear</a></li>
              <li><a href='{% article_url winter-attendee %}'>What to expect</a></li>
              <li><a href='{% article_url winter-blisters %}'>Avoiding blisters</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class='only-mobile'>
    <h2>
      <button data-js='menu' class='material-icons no-style' style='color: white; font-size: 120%; vertical-align: bottom; padding: 0'>menu</button>
      <script>
        document.querySelector('[data-js=menu]').addEventListener('click', function() {
          document.body.classList.toggle('mobile-nav-visible')
          Array.from(document.querySelectorAll('.side-nav a')).forEach(function(el) {
            el.addEventListener('click', function(e) {
              document.body.classList.remove('mobile-nav-visible')
            })
          })
        })
      </script>
      Bogong Rover Chalet
      <a style='margin-left: 0.5em' href='https://www.facebook.com/BogongRoverChalet'><small class='fa fa-facebook-square'></small></a>
    </h2>
  </div>
</header>
<script>
(function() {
  var header = document.querySelector('header')
  var headerClone = header.cloneNode(true)
  header.parentNode.insertBefore(headerClone, header)
  headerClone.style.position = 'static'
  for (var idx = 0; idx < headerClone.children.length; idx++) {
    headerClone.children[idx].style.visibility = 'hidden'
  }
  var headerH2 = header.querySelector('h2')
  function onscroll(e) {
    window.requestAnimationFrame(function() {
      var top = document.documentElement.scrollTop || document.body.scrollTop
      headerH2.style.paddingTop = headerH2.style.paddingBottom = top > 40 ? '0.5em' : ''
    })
  }
  window.addEventListener('scroll', onscroll, { passive: true })
}())
</script>
