<!DOCTYPE html>
<html>
<head>
  <title>Bogong Rover Chalet</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/apple-touch-icon.png' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='//cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Alegreya|Nunito|Material+Icons'>
  <link href='/css/site.css' rel='stylesheet' />
</head>
<body>
  {{content}}
  <!-- <script src='{{site.baseurl}}/js/site.js'></script> -->
  <script src='/js/site.js'></script>
  <script>
    document.querySelectorAll('[title]:not([title=""])').forEach( (e) => {
      new Drop({
        target: e,
        content: e.title,
        classes: 'drop-theme-arrows-bounce-dark',
        openOn: 'ontouchstart' in document.documentElement ? 'click' : 'hover',
        position: 'top center',
        constrainToScrollParent: false,
      })
      e.title = ''
    })
  </script>
  <script>
    new SmoothScroll('[data-scroll]', { easing: 'easeOutQuad' })
    Array.from(document.querySelectorAll('[data-scroll], .tab-item a, .tab-contents a[href^="#"]')).forEach(function(el) {
      el.onclick = function(event) {
        var st = document.body.scrollTop
        event.preventDefault()
        window.location.href = this.href
        document.body.scrollTop = st
      }
    })
  </script>
</body>
