<!DOCTYPE html>
<html lang="en-AU">
<head>
  <title>Bogong Rover Chalet</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/apple-touch-icon.png' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='//cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Alegreya|Nunito|Material+Icons'>
  <link href='/css/site.css' rel='stylesheet' />
</head>
<body>
  {{content}}
  <script id="netlify-identity" src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
  <script>
    document.getElementById('netlify-identity').onload = function() {
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', function(user) {
          if (!user) {
            window.netlifyIdentity.on('login', function() {
              document.location.href = '/admin/'
            })
          }
        })
      }
    }
  </script>
  <!-- <script src='{{site.baseurl}}/js/site.js'></script> -->
  <script src='/js/site.js'></script>
  <script>
    var hasTouch = 'ontouchstart' in document.documentElement
    document.querySelectorAll('[title]:not([title=""])').forEach(function(e) {
      new Drop({
        target: e,
        content: e.title,
        classes: 'drop-theme-arrows-bounce-dark',
        openOn: hasTouch ? 'click' : 'hover',
        position: 'top center',
        constrainToScrollParent: false,
      })
      e.title = ''
      e.style.cursor = hasTouch ? 'pointer' : 'help'
    })
  </script>
  <script>
    new SmoothScroll('[data-scroll]', {
      easing: 'easeOutQuad',
      offset: function(anchor, toggle) {
        return anchor.id === 'winter-rover' || anchor.id === 'winter-venturer' ? 200 : 0
      }
    })
    Array.from(document.querySelectorAll('[data-scroll], .tab-item a, .tab-contents a[href^="#"]')).forEach(function(el) {
      el.onclick = function(event) {
        var st = 'scrollingElement' in document ? document.scrollingElement.scrollTop : document.body.scrollTop
        window.location.href = this.href
        if('scrollingElement' in document) document.scrollingElement.scrollTop = st
        else document.body.scrollTop = st
      }
    })
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70761518-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
